<div class="container" ng-controller="TasksCtrl">
  <div class="row">
    <div class="col-md-8">
      <h1>Listing tasks</h1>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat="task in tasks">
          <td>{{task.name}}</td>
          <td>
            <span class="label label-success" ng-show="task.done">done</span>
            <span class="label label-info" ng-hide="task.done">in progress</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h1>Form</h1>

      <form ng-submit="create()" role="form">
        <div class="form-group">
            <label for="task_name">Name</label>
            <input type="text" id="task_name" class="form-control" ng-model="task.name">
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="task.done">
            Done?
          </label>
        </div>
        <input type="submit">
      </form>
    </div>
  </div>


  <br>

  <%= link_to 'New Task', new_task_path %>
</div>